hr {
  border-color: inherit;
  border-style: solid;
  color: inherit;
  background-color: inherit;
}

.archive-top {
  position: relative;
  min-height: 70vh;
  .archive-top-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: center;
    background-size: cover;
  }
}

.single-apartment-container {
  overflow: hidden;
  cursor: pointer;
  .cake {
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }
}

@mixin colors-set(
  $name,
  $bg,
  $text,
  $bgPremium,
  $textPremium,
  $bgSection,
  $textSection
) {
  .#{$name}-set {
    @include colors($bg, $text);
    .premium-container {
      @include sectionWrapper($bgPremium);
      @include colors($bgPremium, $textPremium);
    }
    .section-container {
      @include sectionWrapper($bgSection);
      @include colors($bgSection, $textSection);
    }
  }
}

@mixin colors($bg, $text) {
  background-color: $bg;
  color: $text;
  border-color: $text;
}

@mixin sectionWrapper($color) {
  position: relative;
  background-color: $color;

  &:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    margin-bottom: -1em;
    padding-bottom: 7.3404%;
    background-image: url('../../media/scratch-1.php?color=#{str-slice(#{$color}, 2)}');
  }

  .cake-frame .drawing path {
    stroke: $color;
  }
}

@include colors-set(
  'green',
  $dark-green,
  #fff,
  $color-beige,
  $dark-green,
  $grey-background,
  #fff
);
@include colors-set(
  'grey',
  $grey-background,
  #fff,
  $dark-green,
  #fff,
  $color-beige,
  $dark-green
);
@include colors-set(
  'beige',
  $color-beige,
  $dark-green,
  $dark-green,
  #fff,
  $grey-background,
  #fff
);
