.page-template-t-atrakcje {
  .tripple-section {
    text-align: center;
  }

  .small-title {
    position: relative;
  }
  .border-below {
      position: absolute;
      height: 1px;
      background-color: #fff;
      width: 70%;
      bottom: -20px;
      left: 15%;
      right: 15%;
  }

  .text {
      text-align: left;
  }

  .additional-links {
      text-transform: uppercase;
      letter-spacing: 0.15em;
      font-size: 1.2em;
      flex-direction: column;
      justify-content: flex-start;
        div.flex{
          margin: 0.5em;
      }
  }

  .circle {
    display: block;
    margin-right: 1em;
    width: 1.2em;
    height: 1.2em;
    border: solid #fff 1px;
    border-radius: 100%;
  }
}
