.fixed-link-container {
  position: relative;
}

.fixed-link {
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 10;
  transform-origin: 100% 100%;
  transform: rotateX(0deg) rotate(-90deg) translate(100%, 0%);

  &.fixed {
    position: fixed;
  }
}
