.slider {
  position: relative;
  height: 70vh;

  .collection-title {
    position: absolute;
    top: 0;
    left: 50%;
  }
  .next {
    position: absolute;
    top: 0;
    right: 3em;
  }

  .collection-number {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .collection-overlay {
      opacity: 0;
      transition: 0.3 opacity ease-in-out;
    &.active{
        opacity: 1;
    }
  }

  .content {
    position: absolute;
    top: 3em;
    width: 100%;

    .col2.column {
        padding-top: 4em;
    }
  }
}
