.slider-with-bullets {
  position: relative;

  .single-slide-desc {
    @media (max-width: 1050px) {
      width: 100%;
    }
  }

  .slide-icon {
    width: 2.5em;
    margin-right: 2em;
  }

  .slide-title {
    text-transform: uppercase;
    font-weight: 600;
  }

  @media (min-width: 1050px) {
    .pic-right {
      .col2:nth-child(1) {
        order: 2;
      }
    }
  }

  .slider-arrows {
    svg {
      background-color: transparent;
    }
  }

  .slider-bullets {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    z-index: 1;
    &.pic-right {
      left: 3em;
      right: auto;
      @media (max-width: 768px) {
        left: 0;
      }
    }

    @media (max-width: 768px) {
      position: relative;
      width: 100%;
    }

    .bullets-container {
      flex-wrap: wrap;
      .bullet {
        margin-bottom: 0.5em;
        cursor: pointer;

        .bullet-title {
          position: relative;
          margin-right: 2em;

          &:after {
            content: '';
            display: block;
            bottom: 0;
            left: 0;
            width: 0;
            height: 0.5px;
            background-color: #fff;
            transition: 0.3s;
            margin: 0 auto;
          }
        }

        &.hovered,
        &.active {
          .bullet-title:after {
            width: 80%;
          }
        }
      }
    }
  }
}
