.slider-with-bullets {
  position: relative;

  .slide-icon {
    width: 2.5em;
    margin-right: 2em;
  }

  .slide-title {
    text-transform: uppercase;
    font-weight: 600;
  }

  .slider-bullets {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    z-index: 1;

    .bullets-container {
      .bullet {
        margin-bottom: 0.5em;
        cursor: pointer;

        .bullet-title {
          position: relative;

          &:after {
            content: '';
            display: block;
            bottom: 0;
            left: 0;
            width: 0;
            height: 1px;
            background-color: #fff;
            transition: 0.3s;
          }
        }

        &.hovered,
        &.active {
          .bullet-title:after {
            width: 100%;
          }
        }
      }
    }
  }
}
