hr {
  border-color: inherit;
  border-style: solid;
  color: inherit;
  background-color: inherit;
  border-bottom: 1px;
}

.archive-top {
  position: relative;
  min-height: 70vh;

  .archive-top-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: center;
    background-size: cover;
  }
}

.single-apartment-container {
  overflow: hidden;
  cursor: pointer;

  .cake {
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }

  @media (max-width: 768px) {
    &.image-wrapper-full-width {
      max-width: 30em;
      margin: 0 auto;
    }
  }
}

.premium-text {
  width: 33.3333%;

  @media (max-width: 768px) {
    width: 100%;
  }
}
