.facilities-container {
  .meals-single {
    margin-bottom: 1em;
    span {
      font-weight: 400;
    }
  }
}

.facilities-icons-container {
  .facilities-icon-single {
    margin-bottom: 1em;
    img {
      width: 3em;
      margin-right: 1em;
    }
  }
}

.beige-wrapper,
.gray-wrapper {
  .small-title::after {
    background-color: $dark;
  }
}
