#front-intro {
  img {
    width: 3em;
    display: block;
    margin: 0 auto 1em auto;
  }

  h2 {
    font-weight: 700;
    text-align: center;
  }

  .text {
    max-width: 60em;
    margin: 0 auto;
  }
}
