#hotresChooser {
  position: relative;
  align-items: stretch;
  justify-content: center;
  font-weight: 700;
  font-size: 1.5em;
  margin: 0 auto;
  min-width: 0 !important;

  @media (max-width: 1280px) {
    font-size: 1.25em;
  }

  @media (max-width: 600px) {
    font-size: 1em;
  }

  * {
    font-size: 1em;
    font: inherit;
    line-height: inherit;
  }

  .hotresRangeChooser {
    background: none;
    box-shadow: none;
    width: auto;
    height: auto;
    display: flex;

    #hotresArrivalWrap {
      &::before {
        position: static;
        border: none;
        transform: none;
        opacity: 1;
      }
    }

    #hotresArrivalWrap,
    #hotresDepartureWrap {
      float: none;
      border: 2px solid;
      border-right: none;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: lowercase;
      padding: 0 1em;

      &::before {
        content: "";
        display: block;
        width: 1.5em;
        height: 1.5em;
        margin-right: 0.5em;
        background-image: url("../../media/icons/kalendarz-white.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }

    .hotresDate,
    .hotresMonth {
      float: none;
      top: 0;
      height: auto;
      padding: 0;
      font-size: 1em;
    }

    .hotresDate {
      padding-right: 0.25em;
    }

    .hotresYear {
      display: none;
    }
  }

  .hotresAdultsChooser {
    position: relative;
    background: none;
    box-shadow: none;
    height: auto;
    display: flex;
    align-items: center;
    border: 2px solid;
    border-right: none;
    width: auto;

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 1.5em;
      height: 1.5em;
      margin-left: 0em;
      background-image: url("../../media/icons/ilosc-osob-white.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      pointer-events: none;
    }

    #hotresAdultsSelect {
      border-right: none;
      background: none;
      height: 100%;
      width: auto;
      font-weight: 700;
      font-size: 1em;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      padding: 0 0 0 1.5em;
      line-height: inherit;

      &::-ms-expand {
        display: none;
      }

      option {
        color: #000;
      }
    }

    @media (max-width: 450px) {
      display: none;
    }
  }

  .hotresSubmit {
    width: auto;
    height: auto;

    button {
      background-color: $beige;
      border: 2px solid;
      height: 100%;
      width: auto;
      font-weight: 700;
      font-size: 0.75em;
      padding: 0 2em;

      @media (max-width: 768px) {
        padding: 0 1em;
      }
    }
  }

  .calendar-label-wrap {
    position: relative;
    padding: 1.25em 1.5em 0.75em 1.5em !important;

    @media (max-width: 768px) {
      padding: 1em 1em 0.25em 1em !important;
    }

    .calendar-label {
      position: absolute;
      font-size: 0.6em;
      letter-spacing: 0.1em;
      top: 0.3em;
      left: 0.5em;
      text-transform: uppercase;
    }
  }
}

#hotresChooser {
  color: #fff;

  #hotresArrivalWrap,
  #hotresDepartureWrap,
  .hotresAdultsChooser,
  .hotresSubmit button {
    border-color: #fff;
  }

  #hotresAdultsSelect {
    color: #fff;
  }
}

#hotresChooser.light-bg {
  color: $dark;

  .hotresRangeChooser #hotresArrivalWrap,
  .hotresRangeChooser #hotresDepartureWrap,
  .hotresAdultsChooser,
  .hotresSubmit button {
    border-color: $dark;
  }

  #hotresAdultsSelect {
    color: $dark;
  }

  .hotresRangeChooser {
    #hotresArrivalWrap,
    #hotresDepartureWrap {
      &::before {
        background-image: url("../../media/icons/kalendarz-green.png");
      }
    }
  }

  .hotresAdultsChooser::before {
    background-image: url("../../media/icons/ilosc-osob-green.png");
  }
}
