#hotresChooser {
  position: relative;
  color: #fff;
  align-items: stretch;
  font-weight: 700;
  font-size: 1.25em;
  margin: 0 auto;

  * {
    font-size: 1em;
  }

  .hotresRangeChooser {
    background: none;
    box-shadow: none;
    height: auto;
    display: flex;

    #hotresArrivalWrap,
    #hotresDepartureWrap {
      float: none;
      border: 2px solid #fff;
      border-right: none;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: lowercase;
    }

    #hotresArrivalWrap {
      &::before {
        display: none;
      }
    }

    .hotresDate,
    .hotresMonth {
      float: none;
      top: 0;
      height: auto;
      padding: 0;
      font-size: 1em;
    }

    .hotresDate {
      padding-right: 0.5em;
    }

    .hotresYear {
      display: none;
    }
  }

  .hotresAdultsChooser {
    background: none;
    box-shadow: none;
    height: auto;

    #hotresAdultsSelect {
      border: 2px solid #fff;
      border-right: none;
      background: none;
      height: 100%;
      color: #fff;
      font-weight: 700;
      font-size: 1em;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;

      &::-ms-expand {
        display: none;
      }

      option {
        color: #000;
      }
    }
  }

  .hotresSubmit {
    button {
      background-color: $beige;
      border: 2px solid #fff;
      height: auto;
      font-weight: 700;
      font-size: 0.75em;
    }
  }
}
