#hotresChooser {
  position: relative;
  color: #fff;
  align-items: stretch;
  justify-content: center;
  font-weight: 700;
  font-size: 1.25em;
  margin: 0 auto;
  min-width: 0 !important;

  @media (max-width: 600px) {
    font-size: 0.9em;
  }

  * {
    font-size: 1em;
  }

  .hotresRangeChooser {
    background: none;
    box-shadow: none;
    width: auto;
    height: auto;
    display: flex;

    #hotresArrivalWrap {
      &::before {
        position: static;
        border: none;
        transform: none;
        opacity: 1;
      }
    }

    #hotresArrivalWrap,
    #hotresDepartureWrap {
      float: none;
      border: 2px solid #fff;
      border-right: none;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: lowercase;
      padding: 0 1em;

      &::before {
        content: "";
        display: block;
        width: 1.5em;
        height: 1.5em;
        margin-right: 0.5em;
        background-image: url("../../media/icons/kalendarz-white.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }

    .hotresDate,
    .hotresMonth {
      float: none;
      top: 0;
      height: auto;
      padding: 0;
      font-size: 1em;
    }

    .hotresDate {
      padding-right: 0.25em;
    }

    .hotresYear {
      display: none;
    }
  }

  .hotresAdultsChooser {
    position: relative;
    background: none;
    box-shadow: none;
    height: auto;
    display: flex;
    align-items: center;
    border: 2px solid #fff;
    border-right: none;
    width: auto;

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 1.5em;
      height: 1.5em;
      margin-left: 1em;
      background-image: url("../../media/icons/ilosc-osob-white.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      pointer-events: none;
    }

    #hotresAdultsSelect {
      border-right: none;
      background: none;
      height: 100%;
      width: auto;
      color: #fff;
      font-weight: 700;
      font-size: 1em;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      padding: 0 1em 0 3em;

      &::-ms-expand {
        display: none;
      }

      option {
        color: #000;
      }
    }

    @media (max-width: 450px) {
      display: none;
    }
  }

  .hotresSubmit {
    width: auto;

    button {
      background-color: $beige;
      border: 2px solid #fff;
      height: auto;
      width: auto;
      font-weight: 700;
      font-size: 0.75em;
    }
  }
}
