.icon {
  width: 2em;
  height: 2em;
  margin: 0 0.25em -0.2em 0.25em;
  display: inline-block;
  vertical-align: bottom;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  &--bell {
    background-image: url(../../media/icons/icon-rezerwuj.png);
  }

  &--person {
    background-image: url(../../media/icons/ilosc-osob-green.png);
  }
}

button .icon {
  margin: -1.2em 0 -0.8em -1em;
  height: 3em;
  width: 3em;
}
