.icon {
  width: 2em;
  height: 2em;
  margin: 0 0.5em -0.2em 0.5em;
  display: inline-block;
  vertical-align: bottom;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../../media/icons/jacuzzi.png");
}
