.icon {
  width: 1.5em;
  height: 1.5em;
  margin: 0 0.2em -0.15em 0.2em;
  display: inline-block;
  vertical-align: bottom;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  &--bell {
    background-image: url(../../media/icons/icon-rezerwuj.png);
  }

  &--person {
    background-image: url(../../media/icons/ilosc-osob-green.png);
  }
}

button .icon {
  margin: -1rem 0 -0.9rem -0.6rem;
  height: 2.5rem;
  width: 2.5rem;
}
