$letter-spacing: 0.15em;
$dark: #20372c; // changed
$white-gray: #78857f;
$brown: #654824;

$beige: #af9f71; // new
$nav-green: #9aa485; // new
$pale-green: #d8dbd0; // new

$green-wrapper: #23382c;
$beige-wrapper: #cabaaa;
$pale-wrapper: #8a9992;
$gray-wrapper: #c3c2c8;

@import "base";
@import "wrappers";
@import "page";

// components
@import "fixed-link";
@import "slider-arrows";
@import "vertical-image-text";
@import "lightbox";
@import "cake-frame";
@import "full-width-handwrite";
@import "reservation";
@import "date-picker";
@import "hotres";

// parts
@import "nav";
@import "top";
@import "atrakcje";
@import "2-col";
@import "map";
@import "collections-slider";
@import "slider-with-bullets";
@import "slider-gallery";
@import "facilities";

// general
@import "icons";
@import "contact";
@import "archive";
@import "footer";
@import "_mobile";
