#map-wrapper {
  position: relative;
  z-index: 3;
  padding-top: 0.1px;
  padding-bottom: 1em;
  background-color: $dark !important;

  #gmap {
    z-index: 2;
    min-height: 60vh;
    max-width: 90em;
    margin: -6vw auto 0 auto;
  }
}
