#map-wrapper {
  position: relative;
  overflow: hidden;

  #gmap {
    z-index: 2;
    min-height: 85vh;

    > div {
      background-color: #23352a !important;
    }

    img[alt="Google"] {
      top: -50px !important;
    }

    .gmnoprint,
    .gm-style-cc {
      bottom: 40px !important;
    }

    .gm-bundled-control-on-bottom {
      bottom: 126px !important;
    }
  }
}
