.slider-gallery {
  width: 100%;

  .slider-sizer {
    width: 37.5%;

    @media (max-width: 1050px) {
      width: 50%;
    }
    @media (max-width: 768px) {
      width: 100%;
    }
  }

  .single-slide {
    margin-left: 3em;
    @media (max-width: 768px) {
      margin: 0;
    }

    .single-slide-content {
      margin-left: -3em;
      width: 100%;
      overflow: hidden;
      @media (max-width: 768px) {
        margin: 0;
      }
    }

    .cake {
      transition: padding 0.3s, transform 0.3s;
      cursor: pointer;

      &:hover {
        transform: scale(1.05);
      }
    }

    &.active .cake {
      padding-bottom: 150%;
      @media (max-width: 768px) {
        padding-bottom: 100%;
      }
    }
  }
}

.slider-gallery.adjusting .cake {
  transition: 0s !important;
}

.slider-arrows-container {
  margin-top: -9em;

  @media (max-width: 1200px) {
    margin-top: -12%;
  }

  @media (max-width: 1050px) {
    margin-top: -16%;
    margin-right: 5%;
  }

  @media (max-width: 768px) {
    margin: 0;
  }
  .slider-arrows {
    position: static;
    margin: 0;
    display: flex;

    .arrow-left,
    .arrow-right {
      position: static;
      margin-right: 0.5em;

      svg {
        width: 2em;
      }

      &.hovered {
        svg {
          margin: 0;
        }
      }
    }
  }
}

.slider-content-wrap {
  .slider-content {
    width: 62.5%;
    @media (max-width: 1050px) {
      width: 100%;
      margin-top: 20%;
      padding-right: 3em;
    }
    @media (max-width: 768px) {
      margin: 0;
      padding-right: 0;
    }
  }
}

.masonry-icon {
  cursor: pointer;
  display: flex;
  align-items: center;

  svg {
    width: 2em;

    rect {
      stroke: #fff;
      stroke-width: 1.5;
      fill: transparent;
      transition: fill 0.3s;
    }

    &:hover {
      rect {
        fill: $beige-wrapper;
      }
    }
  }
}
