#top {
  position: relative;
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 3em 0 12em 0;

  &.top-full-height {
    min-height: 100vh;
  }

  #top-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: center;
    background-size: cover;

    &.bg-fixed {
      background-attachment: fixed;

      @media (max-width: 912px) {
        background-attachment: scroll;
      }

      @media (max-width: 768px) {
        background-size: 100vw auto;
      }

      @media (max-width: 768px) and (max-aspect-ratio: 37/25) {
        background-size: auto 110vh;
      }
    }
  }

  #top-logo-wrap {
    position: relative;
    text-align: center;
    line-height: 1.1;
    width: 25%;
    min-width: 25em;

    @media (max-width: 1200px) {
      font-size: 0.8em;
    }

    @media (max-width: 600px) {
      font-size: 0.6em;
    }

    #top-logo-img {
      width: 100%;
    }

    .handwrite {
      font-size: 3.2em;
      margin-top: 0.5em;
    }
  }

  #top-title {
    position: relative;
    width: 100%;

    @media (max-width: 768px) {
      font-size: 0.8em;
    }

    span {
      font-size: 2em;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: $letter-spacing;
      padding-left: $letter-spacing;
      text-shadow: 0 0 0.5em #0009;
    }

    &.title-404 span {
      font-size: 6em;
      font-weight: 700;
    }
  }

  #hotresChooser {
    margin-top: 2em;
  }

  .arrow {
    position: absolute;
    bottom: 5em;
    margin: 0 auto;
    cursor: pointer;

    svg {
      position: relative;
      top: 0;
      height: 2em;
      transition: 0.3s;
    }

    &:hover svg {
      top: 0.5em;
    }
  }
}
