#top {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  #top-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: center;
    background-size: cover;

    &.bg-fixed {
      background-attachment: fixed;
    }
  }

  #top-logo-wrap {
    position: relative;
    text-align: center;
    line-height: 1.1;
    width: 25%;
    min-width: 30em;

    @media (max-width: 1200px) {
      font-size: 0.8em;
    }

    @media (max-width: 600px) {
      font-size: 0.6em;
    }

    #top-logo-img {
      width: 100%;
    }
  }

  #top-title {
    position: relative;
    width: 100%;

    @media (max-width: 768px) {
      font-size: 0.8em;
    }

    span {
      font-size: 2em;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: $letter-spacing;
      padding-left: $letter-spacing;
      text-shadow: 0 0 0.5em #0009;
    }

    &.title-404 span {
      font-size: 6em;
      font-weight: 700;
    }
  }

  .arrow {
    position: absolute;
    bottom: 15%;
    margin: 0 auto;
    cursor: pointer;

    svg {
      position: relative;
      top: 0;
      height: 2em;
      transition: 0.3s;
    }

    &:hover svg {
      top: 0.5em;
    }
  }
}
