.vertical-image-text {
  padding-bottom: 3em;
  transition: height 0.5s;

  @media (max-width: 768px) {
    .image-wrapper-full-width {
      max-width: 30em;
      margin: 0 auto;
    }

    &.vertical-image-more-768 {
      height: 0;
      overflow: hidden;
    }

    &.vertical-image-more-768.show-more {
      overflow: visible;
    }
  }

  .text-link {
    .additional-link-icon {
      width: 2em;
      margin: -0.5em 0.5em -0.3em 0;
      vertical-align: middle;
    }

    span {
      text-transform: uppercase;
      letter-spacing: $letter-spacing;
    }

    svg {
      position: relative;
      padding: 0 1em 0 0.5em;
      width: 100%;
      max-width: 6em;
      flex-shrink: 1;
      left: 0;
      transition: 0.3s;
    }

    &:hover {
      svg {
        left: 0.5em;
      }
    }
  }
}
