@mixin wrapper($selector, $bgColor, $color) {
  #{$selector} {
    position: relative;
    background-color: $bgColor;
    color: $color;
    z-index: 1;

    &:not(.wrapper--no-mask-before)::before {
      content: "";
      display: block;
      position: absolute;
      bottom: 100%;
      left: 0;
      width: 100%;
      margin-bottom: -2%;
      padding-bottom: 7.3404%;
      background-image: url("../media/scratch-1.php?color=#{str-slice(#{$bgColor}, 2)}");
      background-position: bottom center;
      background-size: contain;
      background-repeat: no-repeat;
      pointer-events: none;
    }

    &.wrapper--mask-after {
      z-index: 2;

      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        margin-top: -3%;
        padding-top: 7.3404%;
        transform: scale(1, -1);
        background-image: url("../media/scratch-1.php?color=#{str-slice(#{$bgColor}, 2)}");
        background-position: top center;
        background-size: contain;
        background-repeat: no-repeat;
        pointer-events: none;
      }
    }

    .cake-frame .drawing path {
      stroke: $bgColor;
    }

    button {
      color: $color;
      border-color: $color;
    }

    .heading-logo path {
      fill: $color;
    }

    .social .social-icon svg path {
      fill: $color;
    }

    .small-title::after {
      background-color: $color;
    }
  }
}

@include wrapper(".dark-wrapper", $dark, #fff);
@include wrapper(".pale-wrapper", $pale-wrapper, #fff);
@include wrapper(".pale-green-wrapper", $pale-green, $dark);
@include wrapper(".white-wrapper", #fff, $dark);
